<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652972449352-crp13tgsatdhth52vp8nd56bn6hign4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652972449352-crp13tgsatdhth52vp8nd56bn6hign4e</string>
	<key>API_KEY</key>
	<string>AIzaSyDzK-cSKNVGQPmOCVUZhPXFRqiJcnDGElM</string>
	<key>GCM_SENDER_ID</key>
	<string>652972449352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tapTennis</string>
	<key>PROJECT_ID</key>
	<string>tap-tennis</string>
	<key>STORAGE_BUCKET</key>
	<string>tap-tennis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652972449352:ios:500c02bfb8affb50abc27d</string>
	<key>DATABASE_URL</key>
	<string>https://tap-tennis-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>